<!-- <div class="main-container">
  <mat-card *ngIf="user" class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-photo">
        <img [src]="user.personalDetail.imgUrl" alt="Profile Photo">
      </div>
      <mat-card-title>{{ user.personalDetail.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.personalDetail.alias }}</mat-card-subtitle>
    </mat-card-header>
        
        <mat-card-content>
          <div class="profile-info">
            <div class="column">
                <div><strong>Gender:</strong> {{ user.personalDetail.gender }}</div>
                <div><strong>Age:</strong> {{ user.personalDetail.age }}</div>
                <div><strong>Nationality:</strong> {{ user.personalDetail.nationality }}</div>
                <div><strong>Email:</strong> {{ user.personalDetail.email }}</div>
                <div><strong>Role:</strong> {{ user.personalDetail.role }}</div>

            </div>
            <div class="column">
              <div><strong>Signature Gear:</strong> {{ user.personalDetail.gear }}</div>
                <div><strong>Occupation:</strong> {{ user.personalDetail.occupation }}</div>
                <div><strong>Weakness:</strong> {{ user.personalDetail.weak }}</div>
            </div>
          </div>
        </mat-card-content>
      
        <mat-card-actions>
          <button mat-button color="primary">Edit Profile</button>
          <button mat-button color="accent">Send Message</button>
        </mat-card-actions>
      </mat-card>
</div> -->
